.login-page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.banner {
    flex: 1;
    background-color: blueviolet;
}

.login-form-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}